/* HERO BACKGROUND IMAGE */
.bgimage {
    height: 100vh;
    background: url('images/Bulguksa\ Temple\ By\ Chang\ Patrick\ Unsplash.jpg');
    background-size: cover;
    position: relative;
}
/* TEXT OVER HERO IMAGE */
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* FOOTER */
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}