/* SECTION SPACING */
#projects, 
#skills, 
#about, 
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

/* CAMBRIA FONT THROUGHOUT */
.text,
.feedback-input,
.submit {
    font-family: Cambria, Georgia, serif;
}

/* FONT SIZING */
.card-text,
.skills-desc,
.skills-list,
.bio,
.bio-list {
    font-size: 17px;
}

/* MOST LINKS */
.link {
    color: rgb(232, 117, 168);
    text-decoration: none;
}

.link:hover {
    color: rgb(138, 23, 81);
}

/* UNORDERED LIST STYLING */
.list {
    list-style-type: circle;
}

/* NAVBAR */
/* NAVBAR TEXT */
.navbar .navbar-brand, 
.navbar .nav-link {
    color: white;
}

.navbar .navbar-brand:hover, 
.navbar .nav-link:hover {
    color: rgb(138, 23, 81);
}

/* CHANGE TOGGLER COLOR */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    border-color: white;
}

.navbar .navbar-toggler:focus {
    color: rgba(255, 255, 255, 0.07);
} 

/* DARK NAVBAR */
.navbarScroll.navbarDark {
    background-color: rgb(237, 101, 162);
}

/* HERO BACKGROUND IMAGE */
.bg-img {
    background: url('images/Bulguksa-Temple-By-Chang-Patrick-Unsplash.jpg');
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
    position: relative;
}

/* TEXT OVER HERO IMAGE */
.hero-title {
    font-size: 4.5rem;
}

.hero-desc {
    font-size: 2rem;
}

.hero-text {
    background-color: rgba(236, 11, 109, 0.793);
    color: whitesmoke;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-link {
    color: rgb(111, 222, 153);
    text-decoration: none;
}

.hero-link:hover {
    color: rgb(157, 158, 157);
}

/* PROJECTS DIVS W/ TWO ICONS */
.icons {
    display: flex;
    justify-content: center;
}

.github, 
.window {
    padding: 5px;
}

.projects-icon:hover {
    color:  rgb(237, 101, 162);
}

.card-img-top {
    width: 100%;
}

/* SKILLS SECTION*/
.skills-icon {
    font-size: 60px;
}

.skills-list {
    padding-left: 1.2em;
}

.technical-skills {
    margin-bottom: 20px;
}

/* ABOUT SECTION */
.about-img {
    width: 100%;
}

/* INTEREST CARDS */
/* Includes styling for project icons */
.interests-txt.card {
    height: auto;
}

.interests-icon, 
.projects-icon {
    color: black;
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.interests-icon {
    color: rgba(240, 150, 199, 0.611);
}

.card-title {
    text-align: center;
}

.interest-link:hover {
    color: rgb(232, 117, 168);
}
 

/* CONTACT SECTION */
/* JOKE IMG */
.joke-img {
    height: 500px;
    width: 100%;
}

/* FORM */
.contact-form { 
    margin: auto; 
    max-width: 420px;
    padding-bottom: 30px;
}

.feedback-input {
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid rgb(138, 23, 81);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus { 
    border: 2px solid rgb(232, 117, 168); 
}

.message {
    height: 100px;
    line-height: 150%;
    resize: vertical;
}

.submit {
    background: rgb(138, 23, 81);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    margin-top: -4px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.3s;
    width: 100%;
}

.submit:hover { 
    background: rgb(232, 117, 168); 
}

/* FOOTER */
.contact-footer {
    font-size: 36px;
}

.contact-icon {
    color: white;
}

.contact-icon:hover {
    color: rgb(138, 23, 81);
}

.footer {
    background-color: rgb(237, 101, 162);
    text-align: center;
}